mixin hero()
  .hero
    .container
      h1.hero__title Заголовок блока
      p.hero__desciption Текстовое описание блока
      ul.hero__list
        li.hero__item
          .hero__label-wrapper
            span.hero__number 1 элемент блока
            h2.hero__label Подзаголовок №1
          .hero__info-wrapper
            p.hero__info Текстовое описание №1
        li.hero__item
          .hero__label-wrapper
            span.hero__number 2 элемент блока
            h2.hero__label Подзаголовок №2
          .hero__info-wrapper
            p.hero__info Текстовое описание №2
        li.hero__item
          .hero__label-wrapper
            span.hero__number 3 элемент блока
            h2.hero__label Подзаголовок №3
          .hero__info-wrapper
            p.hero__info Текстовое описание №3
